<footer class="main-footer">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-4">
                <article class="footer-data">
                    <i class="fas fa-credit-card"></i>
                    <h2>MEDIOS DE PAGO</h2>
                    <p>AHORA 3 CUOTAS SIN INTERÉS</p>
                    <p>Visa, Master, Amex bancarizadas</p>
                    <p></p>
                </article>
            </div>
            <div class="col-12 col-lg-4">
                <article class="footer-data">
                    <i class="fas fa-gift"></i>
                    <h2>DESCUENTO EN TU PRÓXIMA COMPRA</h2>
                    <p> Llevándote 2 o más prendas te regalamos un descuento del 30% en tu próxima compra.</p>
                </article>
            </div>
            <div class="col-12 col-lg-4">
                <article class="footer-data">
                    <i class="fas fa-shipping-fast"></i>
                    <h2>ENVIOS A TODO EL PAÍS</h2>
                    <p>Los envíos se realizan en un plazo de entre 3 y 10 días hábiles.</p>
                </article>
            </div>
        </div>
    </div>
</footer>