<header class="main-header">
		
	<a href="/" class="main-header_home-link">

	<img class="logo" src="/images/logoBohoStyle.png">

	</a>

	<div class="container-header">

		<h1 class="nombre-marca"> BOHO STYLE </h1>

		<div class="buscador">
			<form action="/product/resultados" method="GET" class="search-form">
				<input type="text" name="busqueda" placeholder="Buscar productos, marcas y más" class="search-form_input">
				<button type="submit" class="search-form_button"><i class="fas fa-search"></i></button>
			</form>
			
		</div>
	
		<!--ESTO QUE ES?????-->
		<!-- <button class="btn-toggle-navbar">
			<i class="fas fa-bars"></i>
		</button> -->
		
			<nav class="main-navbar">
				<ul class="left-navbar">
					<li><a href="/">Productos</a></li> 
					<!-- <li><a href="/product/create" class="agregarProd" > Agregar producto</a></li> -->
				</ul>
			
	
				<ul class="right-navbar">
					<li><a href="/user/profile">Hola <%= locals.user.usuario %><i class="fas fa-user"></i></a>
					</li>
					<li>
							<form action="/user/logout" method="post">
								<a href="/">Cerrar sesión <i class="fas fa-sign-in-alt"></i></a>
							</form>
					</li> 
				</ul>
			</nav>
			
	</div>
	
</header>
