<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<!-- Head -->
<%- include('./partials/head') %>	
<!-- /Head -->

<body>
	<!-- Header -->
	<%- include('./partials/headerDeslogueado') %>	
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container-formulario">

		<form class="formulario" action="/login" method="GET">
			<h2 class="products-title">Ingresar</h2>

			<div class="input_field">
				<label for="usuario">Usuario:</label>
				<input type="text" class="input" name="usuario" required>
			</div>  
			<div class="input_field">
				<label for="password">Contraseña:</label>
				<input type="password" class="input" name="password" required>
			</div>  
			<div class="input_field">
				<label for="recordar">Recordarme:</label>
				<input type="checkbox" class="input" name="recordarme" required>
			</div>  
				<button class="boton-enviar" type="submit">Iniciar sesión</button>
			  </form>
		</div>
	</div>	

	<!-- footer -->
	<%- include('./partials/footer') %>	
	<!-- /footer -->
</body>

</html>