<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<!-- Head -->
<%- include('./partials/head') %>	
<!-- /Head -->

<body>
	<!-- Header -->
	<%- include('./partials/headerLogueado') %>	
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Agregar productos</h2>
			</div>
			<!-- Show the "ultimos" products -->

			<form action="/product/add" method="GET"> <!-- Cambio aquí -->
				<div>
					<label for="nombre">Nombre del Producto:</label>
					<input type="text" id="nombre" name="nombre" required>
				</div>
				<div>
					<label for="descripcion">Descripción:</label>
					<textarea id="descripcion" name="descripcion" required></textarea>
				</div>
				<button type="submit">Guardar Producto</button>
			</form>


	<!-- footer -->
	<%- include('./partials/footer') %>	
	<!-- /footer -->
</body>

</html>