<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<!-- Head -->
<%- include('./partials/head') %>	
<!-- /Head -->
<body>
	<!-- Header -->
	<%- include('./partials/headerDeslogueado') %>	
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container-formulario">

		<form class="formulario" action="/product/store" method="POST"> <!-- Corregido la acción para que coincida con tu ruta Express -->
			<h2 class="products-title">Agregar producto</h2>
			<div class="input_field">
				<label for="fotoPerfil">Imagen del producto (URL):</label>
				<input type="text" id="fotoPerfil" name="imagen" required>
			</div>
			<div class="input_field">
				<label for="nombre">Nombre del Producto:</label>
				<input type="text" id="nombre" name="nombre_producto" required> <!-- Corregido el atributo name -->
			</div>
			<div class="input_field">
				<label for="descripcion">Descripción:</label>
				<textarea id="descripcion" name="descripcion" required></textarea>
			</div>
			<button class="boton-enviar" type="submit">Guardar Producto</button>
		</form>
		</div>
	</div>	

	<!-- footer -->
	<%- include('./partials/footer') %>	
	<!-- /footer -->
</body>

</html>