<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<!-- Head -->
<%- include('./partials/head') %>
<!-- /Head -->


<body>
	<!-- Header -->
	<%- include('./partials/headerDeslogueado') %>	
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container-formulario">

		

			<form class="formulario" action="/user/login" method="GET">
				<h2 class="products-title">Registrate:</h2>

				<div class="input_field">
				  <label for="email">Email:</label>
				  <input type="text" class="input" name="email" value="" required>
				</div>
				<div class="input_field">
				  <label for="usuario">Usuario:</label>
				  <input type="text" class="input" name="usuario" value="" required>
				</div>
				<div class="input_field">
				  <label for="contraseña">Contraseña:</label>
				  <input type="password" class="input" name="contraseña" value="" required>
				</div>
				<div class="input_field">
					<label for="dni">DNI:</label>
					<input type="number" class="input" name="dni" value="" required> 
				</div>
				<div class="input_field">
					<label for="nacimiento">Fecha de Nacimiento:</label>
					<input type="date" class="input" name="nacimiento" value="" required>
				</div>
				<div class="input_field">
					<label for="imagen">Foto de perfil:</label>
					<input type="text" class="input" name="imagen" value="" required>
				</div>
				<button class="boton-enviar" type=submit><a href="login">Registrarse</a></button>
			</form>
		</div>
		



	<!-- footer -->
	<%- include('./partials/footer') %>	
	<!-- /footer -->
</body>
</html>